.category-menulist li a{
	color: black !important;
	border-left: 3px solid  transparent !important;		
	padding-left: 5px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.category-menulist li a:hover{
	color: #287DF0 !important;	

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.category-menulist li.active a{
	border-left: 3px solid  #287DF0 !important;		
	padding-left: 5px;
	color: #287DF0 !important;	
}

.footer-border-gray{
	border-width: 5px;
	border-color: #eaeaea;
}

.categoryhighlight-item{
	border-bottom: 3px solid #287DF0;
	padding-bottom: 20px;
}



.categoryheadercontainer{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 100;
	border-bottom: 1px solid #eaeaea;
}

.categorybody-submenu li a{
	color: black;
}