.emoji-list div{
	margin-bottom: 15px;
}

.emoji-list div img{
	max-width: 40px;
}

.morecomment-item{
	opacity: .7;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.morecomment-item:hover{
	opacity: 1;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
