/* Header */

.header-top-otherservicebtn{
	border:1px solid #EDEDED;
	color: #EDEDED;
	padding: 7.5px 9px;
	display: inline-block;
	margin-left: 10px;
	color: #999;
}


.header-top-otherservicebtn:hover{
	background: #1e87f0;
	border-color: #1e87f0;
	color: #1e87f0;
	color: white;
}

.header-top-dailycontainer>div{
	border-bottom: 3px solid transparent;
	padding-bottom: 20px;
	margin-top: -3px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.header-top-dailycontainer>div:hover{
	border-color: #287DF0 ;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.header-top-dailycontainer-calendar-txt{
 	margin-top: -7px;
 	color: #414141;
 }

.header-top .search-form-container .search-btn{
 	margin-left: -4px;
}

.header-menu{
	border-bottom: 1px solid #F4F4F4;
	border-top: 1px solid #F4F4F4;
}

.uk-navbar-nav>li>a{
	min-height: 40px;
	padding: 0;
	color: black;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}

.header-menu .main-menu-list li a{
	margin-right: 35px;
	font-weight: 400;
}

.header-menu .main-menu-list li a:hover{
	color: #287DF0;
}

.header-menu .main-menu-list li.uk-active a{
	background: #287DF0;
	color: white;
	padding: 0 15px;
}

.header-other-menu-list li a{
	border-right: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
	padding: 0 15px;
	line-height: 40px !important;
	font-size: 30px;
	/*margin-top: -8px;*/
}

.header-other-menu-list li a svg{
	margin-top: -8px;
}

/*.other-menu-line-height-40{
	line-height: 40px !important;	
}*/


.mobile-header-top-dailycontainer{
	border: 1px solid #eaeaea;
	padding: 5px 15px;
}

.mobile-header-top-dailycontainer-date,
.mobile-header-top-dailycontainer-menuicon{
	margin-top: -3px;
}

.mobile-header-top-dailycontainer:hover{
	cursor: pointer !important;
}

.mobile-header-top-dailycontainer-menu li a{
	font-weight: bold;
	font-size: 16px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2073E3;
}

.mobile-header-top-dailycontainer-menu li:last-child a{
	border-bottom: none;
}

.mobile-header-top-dailycontainer-menu li a:hover{
	color: white;
}

.mobile-header-top-dailycontainer-dropdown{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background: #287DF0;
}

ul.other-menu-list.uk-list-divider>li:nth-child(n+2){
	border-top: 1px solid rgba(255,255,255,.1) !important;
}

ul.other-menu-list li a{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

ul.other-menu-list li a:hover{
	color: rgba(255,255,255,.4);
}

@media (min-width: 960px) and (max-width: 1134px){

	.header-searchform{
		width: 300px;
	}	
	
}

/* END Header */







/* Highlight */

.back-gray-gradient{
	background: rgb(244,244,244);
	background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(0,0,0,0) 100%);
}

h3.highlight-title{
	line-height: 25px;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	max-height: 75px;
	overflow: hidden;
}

.highlight-img{
	
}

.highlight-titlecontainer{
	display: -webkit-box;
	margin-top: 3px;
}

.highlight-title-gradient{
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
}

h4.highlight-title{
	font-size: 16px;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 3px;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.highlight-category:hover{
	background: orange;
}

.highlight-item h4.highlight-title{
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

h4.highlight-title:hover{
	max-height: 150px !important;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* END Highlight*/



/* Article */

.home-comic-article{
	background: #DFF5F8;
	margin-right: -15px;
}

.home-comic-article-back{
	background: #DFF5F8;
	left: -100%;
	height: 100%;
	width: 100%;
	top: 0;
}

.mobilevideonews{
	margin-left: -15px;
	margin-right: -15px;
}

/* END Article */




/* Content body */

.contentbody-item .contentbody-item-title{
	line-height: 24px;
	padding-bottom: 5px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contentbody-item:hover .contentbody-item-title{
	color: #282828;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contentbody-item-category{
	display: inline-block;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contentbody-item-category:hover{
	text-decoration: underline;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.contentbody-item-author{
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.contentbody-item-author:hover{
	text-decoration: underline;	

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}





@media (max-width: 960px){
	.small-home-contentbosdy-item-grid-image{
		width: 30%;
	}

	.contentbody-item-title{
		font-size: 17px !important; 
		line-height: 20px !important;
		max-height: 74px !important;
		overflow: hidden;
		/*font-weight: normal;*/
	}

	.shine-medee-title{
		font-size: 12px !important;
	}

	.contentbody{
		padding-top: 0 !important;
	}

	.contentbody-item-category{
		
	}

	.contentbody-item{
		margin-top: 30px !important;
	}

	.mobile-shine-medee-title{
		border-bottom: 1px solid #eaeaea;
	}

	.mobile-margin-bottom-80{
		margin-bottom: 80px;
	}
}

@media (min-width: 580px) and (max-width: 960px){

	.small-home-contentbosdy-item-grid-image{
		width: 30%;
	}

	.contentbody-item-title{
		font-size: 23px !important; 
		line-height: 27px !important;
		max-height: 76px !important;
    	overflow: hidden;
	}

	.mobile-shine-medee-title{
		font-size: 18px !important;
	}

}

/* END Content body */









/* Sidebar */

.sidebarcontainer-spotlight{
	border: 1px solid #E8E8E8;
}

.sidebarcontainer-spotlight-title{
	border-top: 6px solid #287DF0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	
}

.sidebarcontainer-spotlight-backdot,
.sidebarcontainer-trending-backdot,
.sidebarcontainer-poll-backdot{
	background: url('../img/back-dot.png');
	margin-bottom: 20px;
}

.sidebarcontainer-spotlight-list-item-img{
	border-bottom: 4px solid #287DF0;
}

.sidebarcontainer-trending{
	border: 1px solid #E8E8E8;
}

.sidebarcontainer-trending-title{
	border-top: 6px solid #F02828;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;	
	margin-bottom: 0;
}

.sidebarcontainer-poll-title{
	border-top: 6px solid #F08C28;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;	
	margin-bottom: 0;
	color: #F08C28;
}


.contentbody-item-tag-item{
	display: inline-block;
	background: #F0F0F0;
	background:rgba(0,0,0,.04);
	color: #BABABA;
	color: rgba(0, 0, 0, 0.4);
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px 10px;
	border-radius: 2px;
	letter-spacing: .6px;
	/*border: 1px solid #eaeaea;*/
	border: 1px solid transparent;

/*
	background: white;
	border: 1px solid #eaeaea;
	color: rgba(0, 0, 0, 0.6);*/

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.contentbody-item-tag-item:hover{
	background: #EAEAEA;
	border: 1px solid #eaeaea;
	background: white;
	color: #969696;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;		
}

.sidebarcontainer-trending-list-item-title{
	line-height: 17px !important;
	display: inline-block;
	color: black;
	/*font-weight: bold;*/
}

.sidebarcontainer-poll{
	border: 1px solid #E8E8E8;
}

.sidebarcontainer-poll-commentcounter{
	margin-top: 25px;
}

.sidebarcontainer-poll-commentcounter:hover{
	
}

.sidebarcontainer-poll-form-item-label{
	padding: 10px 10px; 
	border: 1px solid #eaeaea;
	display: block;
	border-radius: 2px;
	margin-bottom: 5px;
	z-index: 100;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.sidebarcontainer-poll-form-item-label:hover{
	cursor: pointer;
	background: #eaeaea;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sidebarcontainer-poll-form-item-percent{
	position: absolute;
	background: green;
	height: 100%;
	width: 50%;
	top: 0;
}

/* END  Sidebar */








/* Other category */

.entertainmentcategory-video-item-image img{
	height: 130px;
	object-fit: cover;
}

.entertainmentcategory-video-item .entertainmentcategory-video-item-image img{
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.entertainmentcategory-video-item:hover .entertainmentcategory-video-item-image img{
	opacity: .7;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.entertainmentcategory-video-item-image-icon{
	padding: 5px;
	background: #287DF0;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
}

.entertainmentcategory-video-item-image-icon i{
	color: white;

}

.entertainmentcategory-video-item-title{
	line-height: 18px;
	margin-top: 7px;
	font-size: 14px !important;
	margin-bottom: 5px;
	max-height: 54px;
}

/* END Other category */



/* Other menu */

.othermenucontainer{
	background: #287DF0 !important;
}

.othermenucontainer-title{
	color: #85DDFF;
	border-left: 4px solid #85DDFF;
	padding-left: 10px;
	line-height: 14px;
	margin-left: 10px;
}

ul.othermenucontainer-menulist li a{
	color: white;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 13px;
	margin-left: 13px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

ul.othermenucontainer-menulist li a:hover{
	color: #39C8FF;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.othermenucontainer-topiclist>a{
	display: inline-block;
	background: #03B5FA;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 15px;
	font-size: 12px;
	border-radius: 50px;
	margin-right: 10px;
	margin-bottom: 10px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.othermenucontainer-topiclist>a:hover{
	background: #39C8FF;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* END Other menu */



/* Footer */

.footer-menu a{
	text-transform: uppercase;
	color: #287DF0;
	font-weight: bold;
	margin-left: 30px;
}

/* END Footer */




/* Calendar container */


.calendarcontainer>div>div{
	border-right: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	/*padding: 5px;*/
	text-align: center;
}

.calendarcontainer-item h2{
	line-height: 26px !important;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.calendarcontainer-item{
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.calendarcontainer-item:hover{
	background: #efefef;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.calendarcontainer-item:hover h2{
	color: #287DF0;
}

.calendarcontainer-item.active{
	background: #efefef;
	border-top: 3px solid #287DF0;
	margin-top: -3px;
}

.calendarcontainer-item.active h2,
.calendarcontainer-item.active span{
	color: #287DF0;
}

/* END calendar container */



/* Mobile menu modal */

.mobilemainmenu a{
	border: 1px solid #E5E5E5;
	border-radius: 12px;
	display: inline-block;
	color: black;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	margin-left: 5px;
	margin-bottom: 10px;
}


/* END Mobile menu modal */



/* Mobile home tab menu */


.mobilehometabmenu{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.mobilehometabmenu a{
	text-align: center;
	/*border-right: 1px solid #4D4D4D;*/
	display: block;
	color: #7C7C7C;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mobilehometabmenu a.active{
	background: #287DF0;
	color: white;
}

.mobilehometabmenu .mobilehometabmenu-title{
	font-size: 12px;
	line-height: 12px;
}

.mobilemainmenu-topic a{
	display: inline-block;
	background: #03B5FA;
	border-radius: 24px;
	padding: 10px 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

.mobiletses-container{
	padding-bottom: 90px;
}

.mobilemainmenu-other a{
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.mobilemainmenu-other ul li{
	padding-bottom: 10px;
	padding-top: 10px;
}

/* END Mobile home tab menu */







