


html,
body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    -moz-osx-font-smoothing: grayscale;
    color: #4E4E4E;
    font: normal 14px / 22px 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
     /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

/*
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: none;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
    color: #000;
   
}

/** CSS by Soyol-Orgil.E **/

.uk-navbar-nav > li > a {
    font-family: 'PT Sans', sans-serif;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 22px;
    line-height: 34px;
}

::-moz-selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    color: #ffffff;
    text-shadow: none;
}

.uk-button {
    border-radius: 0px!important;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a, .uk-link {
    text-decoration: none;
    cursor: pointer;
    color: #00ADEE;
    background-color: none;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


a:hover, .uk-link:hover {
    text-decoration: none;
    color: #044F9C;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle{
	padding: 0;
}

@media (min-width: 1220px) {
    .uk-container {
        max-width: 1170px!important;
    }
}

input,
button,
textarea,
select,
.uk-form select,
select.uk-form-large,
.uk-tab > li > a {
    
}

.uk-subnav-pill > .uk-active > * {
    background: none !important;
    color: #333333;
}

.uk-subnav-pill > .uk-active > a:hover{
	background-color: none !important;
}

.uk-subnav > * > * {
    color: #999;
}

.uk-form select:focus,
.uk-form textarea:focus,
.uk-form input:not([type]):focus,
.uk-form input[type="text"]:focus,
.uk-form input[type="password"]:focus,
.uk-form input[type="datetime"]:focus,
.uk-form input[type="datetime-local"]:focus,
.uk-form input[type="date"]:focus,
.uk-form input[type="month"]:focus,
.uk-form input[type="time"]:focus,
.uk-form input[type="week"]:focus,
.uk-form input[type="number"]:focus,
.uk-form input[type="email"]:focus,
.uk-form input[type="url"]:focus,
.uk-form input[type="search"]:focus,
.uk-form input[type="tel"]:focus,
.uk-form input[type="color"]:focus {
    background: #fff;
    border-color: rgba(255, 255, 255, 0.6);
    outline: 0;
}

blockquote {
    padding-left: 15px;
    border-left: 5px solid #dddddd;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}

.uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
.uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
.uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) {
    border-left: 1px solid #ebebeb;
}

.uk-dotnav>*>* {
    width: 8px;
    height: 8px;
}

.uk-dotnav>.uk-active>* {
    background: rgba(4, 181, 204, .9);
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}

.uk-modal-dialog {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.uk-navbar-nav>li>a:hover{
    background: none;
    color: black;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: white;
}

.margin-5{margin: 5px;}
.margin-10{margin: 10px;}
.margin-15{margin: 15px;}
.margin-20{margin: 20px;}
.margin-25{margin: 25px;}
.margin-30{margin: 30px;}
.margin-35{margin: 35px;}
.margin-40{margin: 40px;}
.margin-45{margin: 45px;}
.margin-50{margin: 50px;}
.margin-55{margin: 55px;}
.margin-60{margin: 60px;}
.margin-65{margin: 65px;}
.margin-70{margin: 70px;}
.margin-75{margin: 75px;}
.margin-80{margin: 80px;}
.margin-85{margin: 85px;}
.margin-90{margin: 90px;}
.margin-95{margin: 95px;}
.margin-100{margin: 100px;}

.margin-top-bottom-5{margin-bottom: 5px;margin-top: 5px;}
.margin-top-bottom-10{margin-bottom: 10px;margin-top: 10px;}
.margin-top-bottom-15{margin-bottom: 15px;margin-top: 15px;}
.margin-top-bottom-20{margin-bottom: 20px;margin-top: 20px;}
.margin-top-bottom-25{margin-bottom: 25px;margin-top: 25px;}
.margin-top-bottom-30{margin-bottom: 30px;margin-top: 30px;}
.margin-top-bottom-35{margin-bottom: 35px;margin-top: 35px;}
.margin-top-bottom-40{margin-bottom: 40px;margin-top: 40px;}
.margin-top-bottom-45{margin-bottom: 45px;margin-top: 45px;}
.margin-top-bottom-50{margin-bottom: 50px;margin-top: 50px;}
.margin-top-bottom-55{margin-bottom: 55px;margin-top: 55px;}
.margin-top-bottom-60{margin-bottom: 60px;margin-top: 60px;}
.margin-top-bottom-65{margin-bottom: 65px;margin-top: 65px;}
.margin-top-bottom-70{margin-bottom: 70px;margin-top: 70px;}
.margin-top-bottom-75{margin-bottom: 75px;margin-top: 75px;}
.margin-top-bottom-80{margin-bottom: 80px;margin-top: 80px;}
.margin-top-bottom-80{margin-bottom: 85px;margin-top: 85px;}
.margin-top-bottom-90{margin-bottom: 90px;margin-top: 90px;}
.margin-top-bottom-90{margin-bottom: 95px;margin-top: 95px;}
.margin-top-bottom-100{margin-bottom: 100px;margin-top: 100px;}

.margin-top-2{margin-top: 2px;}
.margin-top-3{margin-top: 3px;}
.margin-top-5{margin-top: 5px;}
.margin-top-8{margin-top: 8px;}
.margin-top-10{margin-top: 10px;}
.margin-top-13{margin-top: 13px;}
.margin-top-15{margin-top: 15px;}
.margin-top-20{margin-top: 20px;}
.margin-top-25{margin-top: 25px;}
.margin-top-30{margin-top: 30px;}
.margin-top-35{margin-top: 35px;}
.margin-top-40{margin-top: 40px;}
.margin-top-45{margin-top: 45px;}
.margin-top-50{margin-top: 50px;}
.margin-top-55{margin-top: 55px;}
.margin-top-60{margin-top: 60px;}
.margin-top-65{margin-top: 65px;}
.margin-top-70{margin-top: 70px;}
.margin-top-75{margin-top: 75px;}
.margin-top-80{margin-top: 80px;}
.margin-top-85{margin-top: 85px;}
.margin-top-90{margin-top: 90px;}
.margin-top-95{margin-top: 95px;}
.margin-top-100{margin-top: 100px;}
.margin-top-105{margin-top: 105px;}
.margin-top-110{margin-top: 110px;}


.margin-bottom-5{margin-bottom: 5px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-15{margin-bottom: 15px;}
.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-25{margin-bottom: 25px;}
.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-35{margin-bottom: 35px;}
.margin-bottom-40{margin-bottom: 40px;}
.margin-bottom-45{margin-bottom: 45px;}
.margin-bottom-50{margin-bottom: 50px;}
.margin-bottom-55{margin-bottom: 55px;}
.margin-bottom-60{margin-bottom: 60px;}
.margin-bottom-65{margin-bottom: 65px;}
.margin-bottom-70{margin-bottom: 70px;}
.margin-bottom-75{margin-bottom: 75px;}
.margin-bottom-80{margin-bottom: 80px;}
.margin-bottom-85{margin-bottom: 85px;}
.margin-bottom-90{margin-bottom: 90px;}
.margin-bottom-95{margin-bottom: 95px;}
.margin-bottom-100{margin-bottom: 100px;}

.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}
.margin-right-20{margin-right: 20px;}
.margin-right-25{margin-right: 25px;}
.margin-right-30{margin-right: 30px;}
.margin-right-35{margin-right: 35px;}
.margin-right-40{margin-right: 40px;}
.margin-right-45{margin-right: 45px;}
.margin-right-50{margin-right: 50px;}
.margin-right-55{margin-right: 55px;}
.margin-right-60{margin-right: 60px;}
.margin-right-65{margin-right: 65px;}
.margin-right-70{margin-right: 70px;}
.margin-right-75{margin-right: 75px;}
.margin-right-80{margin-right: 80px;}
.margin-right-85{margin-right: 85px;}
.margin-right-90{margin-right: 90px;}
.margin-right-95{margin-right: 95px;}
.margin-right-100{margin-right: 100px;}

.margin-left-5{margin-left: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}
.margin-left-20{margin-left: 20px;}
.margin-left-25{margin-left: 25px;}
.margin-left-30{margin-left: 30px;}
.margin-left-35{margin-left: 35px;}
.margin-left-40{margin-left: 40px;}
.margin-left-45{margin-left: 45px;}
.margin-left-50{margin-left: 50px;}
.margin-left-55{margin-left: 55px;}
.margin-left-60{margin-left: 60px;}
.margin-left-65{margin-left: 65px;}
.margin-left-70{margin-left: 70px;}
.margin-left-75{margin-left: 75px;}
.margin-left-80{margin-left: 80px;}
.margin-left-85{margin-left: 85px;}
.margin-left-90{margin-left: 90px;}
.margin-left-95{margin-left: 95px;}
.margin-left-100{margin-left: 100px;}

.padding-5{padding: 5px;}
.padding-10{padding: 10px;}
.padding-15{padding: 15px;}
.padding-20{padding: 20px;}
.padding-25{padding: 25px;}
.padding-30{padding: 30px;}
.padding-35{padding: 35px;}
.padding-40{padding: 40px;}
.padding-45{padding: 45px;}
.padding-50{padding: 50px;}
.padding-55{padding: 55px;}
.padding-60{padding: 60px;}
.padding-65{padding: 65px;}
.padding-70{padding: 70px;}
.padding-75{padding: 75px;}
.padding-80{padding: 80px;}
.padding-85{padding: 85px;}
.padding-90{padding: 90px;}
.padding-95{padding: 95px;}
.padding-100{padding: 100px;}

.padding-top-bottom-5{padding-top: 5px;padding-bottom: 5px;}
.padding-top-bottom-10{padding-top: 10px;padding-bottom: 10px;}
.padding-top-bottom-15{padding-top: 15px;padding-bottom: 15px;}
.padding-top-bottom-20{padding-top: 20px;padding-bottom: 20px;}
.padding-top-bottom-25{padding-top: 25px;padding-bottom: 25px;}
.padding-top-bottom-30{padding-top: 30px;padding-bottom: 30px;}
.padding-top-bottom-35{padding-top: 35px;padding-bottom: 35px;}
.padding-top-bottom-40{padding-top: 40px;padding-bottom: 40px;}
.padding-top-bottom-45{padding-top: 45px;padding-bottom: 45px;}
.padding-top-bottom-50{padding-top: 50px;padding-bottom: 50px;}
.padding-top-bottom-55{padding-top: 55px;padding-bottom: 55px;}
.padding-top-bottom-60{padding-top: 60px;padding-bottom: 60px;}
.padding-top-bottom-65{padding-top: 65px;padding-bottom: 65px;}
.padding-top-bottom-70{padding-top: 70px;padding-bottom: 70px;}
.padding-top-bottom-75{padding-top: 75px;padding-bottom: 75px;}
.padding-top-bottom-80{padding-top: 80px;padding-bottom: 80px;}
.padding-top-bottom-85{padding-top: 85px;padding-bottom: 85px;}
.padding-top-bottom-90{padding-top: 90px;padding-bottom: 90px;}
.padding-top-bottom-90{padding-top: 95px;padding-bottom: 95px;}
.padding-top-bottom-100{padding-top: 100px;padding-bottom: 100px;}

.padding-top-5{padding-top: 5px;}
.padding-top-10{padding-top: 10px;}
.padding-top-15{padding-top: 15px;}
.padding-top-20{padding-top: 20px;}
.padding-top-25{padding-top: 25px;}
.padding-top-30{padding-top: 30px;}
.padding-top-35{padding-top: 35px;}
.padding-top-40{padding-top: 40px;}
.padding-top-45{padding-top: 45px;}
.padding-top-50{padding-top: 50px;}
.padding-top-55{padding-top: 55px;}
.padding-top-60{padding-top: 60px;}
.padding-top-65{padding-top: 65px;}
.padding-top-70{padding-top: 70px;}
.padding-top-75{padding-top: 75px;}
.padding-top-80{padding-top: 80px;}
.padding-top-85{padding-top: 85px;}
.padding-top-90{padding-top: 90px;}
.padding-top-95{padding-top: 95px;}
.padding-top-100{padding-top: 100px;}

.padding-bottom-5{padding-bottom: 5px;}
.padding-bottom-10{padding-bottom: 10px;}
.padding-bottom-15{padding-bottom: 15px;}
.padding-bottom-20{padding-bottom: 20px;}
.padding-bottom-25{padding-bottom: 25px;}
.padding-bottom-30{padding-bottom: 30px;}
.padding-bottom-35{padding-bottom: 35px;}
.padding-bottom-40{padding-bottom: 40px;}
.padding-bottom-45{padding-bottom: 45px;}
.padding-bottom-50{padding-bottom: 50px;}
.padding-bottom-55{padding-bottom: 55px;}
.padding-bottom-60{padding-bottom: 60px;}
.padding-bottom-65{padding-bottom: 65px;}
.padding-bottom-70{padding-bottom: 70px;}
.padding-bottom-75{padding-bottom: 75px;}
.padding-bottom-80{padding-bottom: 80px;}
.padding-bottom-85{padding-bottom: 85px;}
.padding-bottom-90{padding-bottom: 90px;}
.padding-bottom-95{padding-bottom: 95px;}
.padding-bottom-100{padding-bottom: 100px;}

.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}
.padding-right-20{padding-right: 20px;}
.padding-right-25{padding-right: 25px;}
.padding-right-30{padding-right: 30px;}
.padding-right-35{padding-right: 35px;}
.padding-right-40{padding-right: 40px;}
.padding-right-45{padding-right: 45px;}
.padding-right-50{padding-right: 50px;}
.padding-right-55{padding-right: 55px;}
.padding-right-60{padding-right: 60px;}
.padding-right-65{padding-right: 65px;}
.padding-right-70{padding-right: 70px;}
.padding-right-75{padding-right: 75px;}
.padding-right-80{padding-right: 80px;}
.padding-right-85{padding-right: 85px;}
.padding-right-90{padding-right: 90px;}
.padding-right-95{padding-right: 95px;}
.padding-right-100{padding-right: 100px;}

.padding-left-5{padding-left: 5px;}
.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}
.padding-left-20{padding-left: 20px;}
.padding-left-25{padding-left: 25px;}
.padding-left-30{padding-left: 30px;}
.padding-left-35{padding-left: 35px;}
.padding-left-40{padding-left: 40px;}
.padding-left-45{padding-left: 45px;}
.padding-left-50{padding-left: 50px;}
.padding-left-55{padding-left: 55px;}
.padding-left-60{padding-left: 60px;}
.padding-left-65{padding-left: 65px;}
.padding-left-70{padding-left: 70px;}
.padding-left-75{padding-left: 75px;}
.padding-left-80{padding-left: 80px;}
.padding-left-85{padding-left: 85px;}
.padding-left-90{padding-left: 90px;}
.padding-left-95{padding-left: 95px;}
.padding-left-100{padding-left: 100px;}

.text-gray{color: #888888;}
.text-blue{color: #287DF0;}
.text-black{color: #000;}
.text-light-black{color: #3c414e;}
.text-red{color: #DB0000;}
.text-yellow{color: #F87F05;}
.text-orange{color: #F08100;}
.text-white{color: white;}
.text-light-blue{color: #00ADEE;}
.text-dark-blue{color: #044F9C;}
.text-green{color:#2ADB00;}

.back-white{background: white !important;}
.back-orange{background: #F08100;}
.back-blue{background: #287DF0;}
.back-red{background-color: #f30860;}
a.back-red:hover{background-color: #c1024a;}
.back-gray{background-color: #f7f7f7;}
.back-dark{background-color: black;}
.back-red{background-color: #D3292C;}
.back-light-blue{background-color: #00ADEE;}
.back-black{background: #1F1F1F;}

.gray-border{border-color: #F8F8F8;}

.text-condensed{font-weight: 300;}
.text-light {font-weight: 300!important;}
.text-medium {font-weight: 500!important;}
.text-uppercase {text-transform: uppercase;}

.text-10{font-size: 10px!important;line-height: 16px!important;}
.text-11{font-size: 11px!important;line-height: 15px!important;}
.text-12{font-size: 12px!important;line-height: 20px!important;}
.text-13{font-size: 13px!important;line-height: 20px!important;}
.text-14{font-size: 14px!important;line-height: 22px!important;}
.text-16{font-size: 16px!important;line-height: 24px!important;}
.text-18{font-size: 18px!important;line-height: 30px!important;}
.text-20{font-size: 20px!important;line-height: 26px!important;}
.text-22{font-size: 22px!important;line-height: 34px!important;}
.text-24{font-size: 24px!important;line-height: 32px!important;}
.text-26{font-size: 26px!important;line-height: 32px!important;}
.text-28{font-size: 28px!important;line-height: 40px!important;}
.text-29{font-size: 29px!important;line-height: 20px!important;}
.text-30{font-size: 30px!important;line-height: 38px!important;}
.text-32{font-size: 32px!important;line-height: 39px!important;}
.text-34{font-size: 34px!important;line-height: 42px!important;}
.text-36{font-size: 36px!important;line-height: 44px!important;}
.text-38{font-size: 38px!important;line-height: 46px!important;}
.text-40{font-size: 40px!important;line-height: 48px!important;}
.text-42{font-size: 42px!important;line-height: 50px!important;}
.text-44{font-size: 44px!important;line-height: 51px!important;}
.text-46{font-size: 46px!important;line-height: 52px!important;}
.text-48{font-size: 48px!important;line-height: 54px!important;}
.text-50{font-size: 50px!important;line-height: 56px!important;}
.text-52{font-size: 52px!important;line-height: 58px!important;}
.text-54{font-size: 54px!important;line-height: 60px!important;}
.text-56{font-size: 56px!important;line-height: 62px!important;}
.text-58{font-size: 58px!important;line-height: 64px!important;}

/* END Main Style */


.uk-sticky-fixed{
    z-index: 90;
}




