.mobilehomesearchformcontainer{
	border-top: 1px solid #eaeaea;
	margin-top: 20px;
	padding-top: 20px;
}

.mobilehomesearchformcontainer-taglink li a{
	color: black;
	display: block;
}

.mobile-hailt-searchinput-container{
	width: calc(100% - 50px);
}