.mobileontsloh{
	border-top: 1px solid #eaeaea;
	margin-top: 10px;
	background: white;
}

.mobileontsloh ul{
	margin-left: 0;
}

.mobileontsloh ul li a{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}

.mobileontsloh ul li{
	padding-left: 0 !important;
}

.mobileontsloh ul li a{

}

.mobileontsloh ul li:first-child a{
	border-right: 1px solid #eaeaea;
}

.mobileontsloh ul li:nth-child(2) a{
	border-right: 1px solid #eaeaea;
}

.mobileontsloh ul li.uk-active a{
	color: #287DF0;

}