.border-blue{
	border-color: #287DF0;
    border-width: 5px;
}

.morebody p{
	color: #000 !important;
	font-size: 15px;
	line-height: 26px;
	font-family: 'Roboto';
	text-align: justify;

    color: #3c414e;

    /*padding-left: 100px;*/
}

.more-extra-info{
	/*border: 1px solid #E6E6E6;*/
}

.twitter-share-button{
	position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 5px 8px 5px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.fb-share-button{
	position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 5px 8px 5px 6px;
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;	
}


.morerelatednewsimg img{
	height: 138px;
	object-fit: cover;
}

.moreothernewsimg img{
    height: 138px;
    object-fit: cover;
}

.moreothernewstitle{
    line-height: 20px !important;
}




/**  More sidebar **/

.more-sidebar{
    border: 1px solid #E8E8E8;
}

.more-sidebar-tab-container{
    background: url('../img/back-dot.png');
}

.more-sidebar-tab{  
    border-bottom: none;
    margin-left: 0;
    background: url('../img/back-dot.png');
}

.more-sidebar-tab::before{
    border-bottom: none;
}

.more-sidebar-tab li{
    padding-left: 0;
}

.more-sidebar-tab li a{
    /*border-bottom: 5px solid transparent;*/
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-left: initial !important;
    padding-right: initial !important;

    border-top: 5px solid transparent;
}

.more-sidebar-tab li.uk-active a{
    /*border-bottom: 5px solid #1e87f0;*/
    color: #1e87f0;
    font-weight: bold;
    border-bottom: none;

    border-top: 5px solid #1e87f0;
}

.more-sidebar-newslist{
    /*margin-top: -20px;*/
    padding-bottom: 20px;
    max-height: 750px;
    overflow-y: scroll;
}

.more-sidebar-newslist li article{
    padding-left: 15px;
    padding-right: 10px;
}

.more-sidebar-newslist-title{
    line-height: 18px !important;
    margin-left: 10px;

    text-align: left;
}

/** END More sidebar **/





.letter-scale-btn-upper,
.letter-scale-btn-down{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.letter-scale-btn-upper:hover,
.letter-scale-btn-down:hover{
    cursor: pointer;
    color: #287DF0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}




.mobilemorefixedbar{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #eaeaea;
    z-index: 100;
}

.mobilemorefixedbar-item{
    padding-top: 15px;
    padding-bottom: 15px;
}

.mobilefixedmenu-share-btn li{
    /*border-color: #1564D0 !important;*/
}

.mobilefixedmenu-share-btn li a{
    font-weight: bold;
    color: black !important;
    font-size: 16px;
}


.mobilefixedmenu-letterscale-btn li{
    /*border-color: #1564D0 !important;*/
}

.mobilefixedmenu-letterscale-btn li div{
    font-weight: bold;
    color: black !important;
    font-size: 16px;   
}


.next-news{
    border: 1px solid #E8E8E8 !important;
    z-index: 100;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 270px;
    /*max-height: 58px;*/
    overflow: hidden;
    
}

.next-news h3{
    line-height: 18px !important;
}

@media (max-width: 960px){

    .next-news{
        bottom: 60px;
    }

    .small-margin-remove{
        margin-top: 0 !important;
    }

    .small-margin-right-10{
        margin-right: 10px;
    }

}

@media (max-width: 400px){
    .next-news{
        bottom: 60px;
        right: 0;
        width: calc(100% - 40px) !important;
    }
}








