/* Morning CSS */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


hr.border-blue{
	border-color: #287DF0;
	border-width: 3px;
}

.morningcontainer{
	/*background: url("../img/morningback1.jpg") center no-repeat;
	background-size: cover;

	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)
    ),
    url(../img/morningback4.jpg) center no-repeat;*/

    background: #1f1f1f;
}


.morningcontainer-weather,
.morningcontainer-exchange,
.morningcontainer-horoscope{
	border: 1px solid transparent;
	/*background: rgba(37,37,37,.8);*/
	border: 1px solid rgba(42,42,42,1);

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.morningcontainer-weather:hover,
.morningcontainer-exchange:hover,
.morningcontainer-horoscope:hover{
	border: 1px solid #303030;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}


.morningcontainer-weather-icon{

}


.spin{
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

.morningcontainer-exchange-table td,
.morningcontainer-exchange-table tr td{
	padding: 3px 5px;
}

.morning-newstitle{
	line-height: 22px !important;
}

.morning-close-btn{
	position: absolute;
	right: 0;
	bottom: 0;
	background: #252525;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px !important;
	font-size: 30px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.morning-close-btn:hover{
	background: #000;
	cursor: pointer;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}









