ul.poll-answers li label{
	color: white;
	font-weight: bold;
	display: block;
	padding: 10px;

	border: 1px solid #0E70EE;
	border-bottom: none;

	padding-top: 15px;
	padding-bottom: 15px;

	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; 
}



ul.poll-answers li:last-child label{
	border-bottom: 1px solid #0E70EE;
}

ul.poll-answers li label.s1{
	background: #588DF8;
	background: rgba(255,255,255,.3);	
}

ul.poll-answers li label.s2{
	background: rgba(255,255,255,.2);	
}

ul.poll-answers li label.s3{
	background: rgba(255,255,255,.1);
}

ul.poll-answers li label.s4{
	background: rgba(255,255,255,.05);
}

ul.poll-answers li label.s5{
	background: rgba(255,255,255,.1);
}

.poll-answers li label:hover{
	cursor: pointer !important;

	background: #1D6FDE !important;

	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; 
    padding-left: 13px;
}


.poll-answers li.disabled label:hover,
.poll-answers li.checked label:hover{
	padding-left: 10px;
	background: none !important;
	cursor: default !important;
}

ul.poll-answers li.disabled label.s5,
ul.poll-answers li.checked label.s5{
	background: none !important;
}

.poll-answers{
	/*border: 1px solid #0E70EE;*/
	/*border-bottom: none;*/
	/*border-bottom: 1px solid #0E70EE;*/
}

.poll-answers>li{
	margin-top: 0 !important;

	/*border: 1px solid #0E70EE;*/
	border-bottom: none;
}

.poll-answers>li.disabled label input,
.poll-answers>li.disabled label span{
	opacity: .4;
}



.poll-selector{
	z-index: 10;
	position: relative;
}

.progress-value{
	z-index: 0;
	top: 0;
	height: 100%;
	background: #4884F4;
	background: rgba(255,255,255,.3);
}

.poll-answers li.checked  .progress-value{
	background: rgba(255,255,255,.3);
}

.poll-img{
	height: 100%;
	background-size: cover;
}





.highlight-poll{
	height: 513px;
}