.shuurhai-slide{
	width: 100%;
	height: 20px;
	overflow: hidden;
	line-height: 17px;
}


.shuurhai-slide a{
	color: white;
	font-size: 14px;
	animation: slide-left 5s;
}


@keyframes slide-left {
  from {
    margin-left: 150%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}