.story-grid-list li .story-grid-list-item{
	background: white;
	border-radius: 50px;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.story-title{
	line-height: 16px !important;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      supported by Chrome and Opera */

    -ms-overflow-style: none;
}

.story-img.active{
	border: 3px solid #00ACF1;
}

.story-img{
	border-radius: 100px;
	width: 60px;
	height: 60px;
	line-height: 50px;
	object-fit: cover;
}
	
.story-grid-list li{
	/*opacity: .5;*/

	
}

.story-grid-list li:hover{
	opacity: 1;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.story-modal-dialog{
	background: rgba(0,0,0,.9);	
}

#slider-story-items li div.story-item-container.highlight-story{
	opacity: 1;
	-webkit-transform: scale3d(.9999,.9999,.9999);
    transform: scale3d(.9999,.9999,.9999);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#slider-story-items li div.story-item-container{
	/*opacity: .5;*/
	-webkit-transform: scale3d(.924,.924,.924);
    transform: scale3d(.924,.924,.924);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#slider-story-items li .overlay-story-background{
	background: rgba(0,0,0,.8);

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#slider-story-items li div.highlight-story .overlay-story-background{
	background: rgba(0,0,0,0);

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#slider-story-items li:hover{
	cursor: pointer;
}


.story-progress{
	position: absolute;
	bottom: 50px;
	/*left: 50%;*/
	width: 100%;
	/*transform: translate(-50%, 0);*/
}

.story-progress .story-progress-container{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.story-progress>div>div{
	position: absolute;
	z-index: 1000;
}

.progress-back{
	background: #282828;
	width: 300px;
	height: 4px;
	border-radius: 10px;
}

.progress{
	height: 4px;
	width: 0;
	background: white;
	border-radius: 10px;
}

.storymodaldialog-closebtn{
	background: #282828 !important;
	color: rgba(255,255,255,.4) !important;
}

.storymodal-overlay{
	bottom: 10px;
}

.storymodal-morebtn{
	color: black !important;
	border-radius: 100px;
	background: white;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 5px 15px;
}

.storymodal-itemtitle{
	line-height: 26px !important;
}


@media (max-width: 640px){
	.storymodaldialog-author{
		margin-top: 0 !important;

	}

	.storymodaldialog-author{
		display: none;		
	}

	#slider-story-items li img{
		width: 100%;
	}

	#slider-story-items li.uk-active div.story-item-container{
		opacity: 1;
		-webkit-transform: scale3d(.9999,.9999,.9999);
	    transform: scale3d(.9999,.9999,.9999);
	}

	#slider-story-items li.uk-active div .overlay-story-background{
		background: rgba(0,0,0,0);

		-webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
	}

	#modal-story-full{
		z-index: 10001;
	}
}









